@model GiftBird.Models.Donator

@{
    ViewBag.Title = "Details Page";
}

<body>
    <div>
        <p>@ViewBag.CurPass</p>
        <p>@ViewBag.LoginPass</p>
        <p>@ViewBag.Name</p>
        <p>@ViewBag.Yay</p>
        <p>@ViewBag.Okay</p>
    </div>
</body>

