@model GiftBird.Models.Donator

@{
	ViewBag.Title = "LoginUser2";
}

<h2>LoginUser2</h2>
<form action="LoginUser2" method="post">
	@Html.AntiForgeryToken()
	<div>
		<h4>Donator</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.UserID)
				@Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
			</dt>

			<dd>
				@Html.DisplayFor(model => model.UserID)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Password)
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Password)
			</dd>

		</dl>
	</div> 
	@*<input value="Login" class="btn btn-default" type="submit">*@
</form>
<p>
    @Html.ActionLink("Log In", "DonProfile","Donators", new { area = " " }, new { @class = "btn btn-default" }) 
  
</p>
